/#persegi bintang.py
/.venv
/.vscode
/alpro3.py
/bilangan besar.py
/coba.py
/data.txt
/do while.py
/factorial.py
/factoriall.py
/gaji karyawan pian.py
/game
/ganjil genap.py
/Huruf Konsonan.py
/Huruf Vokal.py
/I
/luas lingkaran.py
/luas segitiga.py
/Menebak Angka.py
/Menghitung banyaknya huruf.py
/Pertemuan 3.py
/perulangan.py
/pola persegi.py
/PONI UNAMIN.jpg
/potongan harga.py
/praktek.py
/pygame.py
/tes soal.py
/tinggi piramida.py
/vscode-calculator-master
/vscode-calculator-master.zip
/__pycache__